<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}"> -->
   <!-- <link rel="stylesheet" href="/market/static/css/src/output.css"> -->
   <script src="https://cdn.tailwindcss.com"></script>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
   <title>
      {% block title %}

      {% endblock %}
   </title>
</head>

<body class="bg-slate-50 " id="body">
   <!-- Navbar here -->
   <nav class="bg-cyan-200 inset-x-0 top-0 text-xl p-2 px-4 justify-between items-center shadow">
      <div class="flex">
         <!-- <img class="" src="{{ url_for('static', filename='flask-logo.png') }}" alt="logo"> -->
         <div class="flex  top-0 left-0" id="navbarNav">
            <a class=" px-5 py-2 bg-slate-900 text-white rounded shadow font-bold" href="#">Flask Market</a>
            <button class="" type="button" data-toggle="collapse" data-target="#navbarNav">
               <span class=""></span>
            </button>

         </div>

         <div class="flex absolute top-0 right-0 p-2">
            <ul class="flex py-2">
               <li class="mx-4 ">
                  <a class="px-2 pb-1 border-2 border-cyan-200 hover:border-2 hover:border-slate-800 hover:rounded-full duration-100 hover:shadow-xl "
                     href="{{ url_for('home_page') }}">Home <span class="sr-only">(current)</span></a>
               </li>
               <li class="mx-4">
                  <a class="px-2 pb-1 border-2 border-cyan-200 hover:border-2 hover:border-slate-800 hover:rounded-full duration-100 hover:shadow-xl "
                     href="{{ url_for('market_page') }}">Market</a>
               </li>
            </ul>
            {% if current_user.is_authenticated %}
            <ul class="flex py-2 ">
               <li class="ml-4 mr-2">
                  <a class="">
                     <i class="fas fa-coins"></i>
                     {{ current_user.prettier_budget}}
                  </a>
               </li>
               <li class="mr-4">
                  <a class="">Welcome, {{current_user.username }}</a>
               </li>
               <li class="mx-4">
                  <a class="px-2 pb-1 border-2 border-slate-800 rounded-full hover:bg-slate-800  hover:text-white hover:rounded-full duration-100 hover:shadow-xl  shadow"
                     href="{{ url_for('logout_page') }}">Logout</a>
               </li>
            </ul>
            {% else %}
            <ul class="flex py-2 ">
               <li class="mx-4  ">
                  <a class="px-2 pb-1 border-2 border-slate-800 rounded-full hover:bg-slate-800  hover:text-white hover:rounded-full duration-100 hover:shadow-xl  shadow"
                     href="{{ url_for('login_page') }}">Log in</a>
               </li>
               <li class="mx-4">
                  <a class="px-2 pb-1 bg-slate-800 text-white rounded-full border-2 border-slate-800 hover:bg-slate-900 hover:border-slate-800 hover: hover:rounded-full duration-100 hover:shadow-xl  shadow"
                     href="{{ url_for('register_page') }}">Sign up</a>
               </li>
            </ul>
         </div>
         {% endif %}
      </div>
   </nav>



   {% with messages = get_flashed_messages(with_categories = true) %}
   {% if messages %}
   {% for category, message in messages %}

   <div role="alert">
      <div class=" px-6 py-2 rounded relative mb-4 border border-red-400 bg-red-100 text-red-700">
         <span class="text-xl inline-block mr-5 align-middle">
            <i class="fas fa-bell"></i>
         </span>
         <span class="inline-block align-middle mr-8">
            {{message}}
         </span>
         <button
            class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-2 mr-6 outline-none focus:outline-none "
            onclick="closeAlert(event)">
            <span class="text-center">x</span>

         </button>
      </div>

   </div>

   {% endfor %}
   {% endif %}
   {% endwith %}
   {% block content %}

   {% endblock %}
   <!-- Future Content here -->
   <script>
      function closeAlert(event) {
         let element = event.target;
         while (element.nodeName !== "BUTTON") {
            element = element.parentNode;
         }
         element.parentNode.parentNode.removeChild(element.parentNode);
      }
      window.addEventListener('DOMContentLoaded', () => {
         const overlay = document.querySelector('#overlay')
         const delBtn = document.querySelector('#delete-btn')
         const closeBtn = document.querySelector('#close-modal')

         const toggleModal = () => {
            overlay.classList.toggle('hidden')
            overlay.classList.toggle('flex')
         }

         delBtn.addEventListener('click', toggleModal)

         closeBtn.addEventListener('click', toggleModal)
      })
      
   </script>

   <!-- <script src="/market/templates/modal.js"></script> -->
</body>

</html>