{% extends 'base.html' %}
{% block title %}
Market Page
{% endblock %}
{% block content %}

<div class="flex  mt-2 mx-4 drop-shadow justify-center align-middle">
    <div class="col-span-8 ">
        <h2 class="my-2 text-3xl font-bold">Available items on the Market</h2>
        <p class="text-md">Click on one of the items to start buying</p>
        <br>
        <table class="table table-fixed rounded-sm ">
            <thead class="border-b-2 border-black bg-gray-200">
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col" class="tracking-wide p-4 text-left text-md">ID</th>
                    <th scope="col" class="tracking-wide p-4 text-left text-md">Name</th>
                    <th scope="col" class="tracking-wide p-4 text-left text-md">Barcode</th>
                    <th scope="col" class="tracking-wide p-4 text-left text-md">Price</th>
                    <th scope="col" class="tracking-wide px-4 py-4 pr-96 text-left text-md">Options</th>
                </tr>
            </thead>
            <tbody class="bg-gray-100">
                <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                {% include 'includes/items_modals.html' %}
                <tr>
                    <td class="p-4 text-md">{{ item.id }}</td>
                    <td class="p-4 text-md">{{ item.name }}</td>
                    <td class="p-4 text-md">{{ item.barcode }}</td>
                    <td class="p-4 text-md">{{ item.price }}$</td>
                    <td class="p-4 text-md text-white">
                        <button class="border-2 border-blue-800 text-blue-800 font-semibold hover:bg-blue-800 hover:text-white hover:shadow-xl rounded-xl p-2 shadow btn-info duration-100" id="moreInfo-btn-{{ item.id }}">More info</button>
                        <button type="button" class="border-2 border-green-800 bg-green-800 hover:bg-green-900 hover:shadow-xl rounded-xl p-2 shadow btn-success duration-100" id="purchaseBtn-{{ item.id }}" ">Purchase this item</button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="col-span-4 mx-4 mt-6 ">
        <h2 class="text-xl font-semibold">Owned Items</h2>
        <p class="text-md">Click on sell item to put an item back on the Market</p>
        <br>
        <div class="grid grid-cols-2 gap-5 col-span-1 ">
            {% for owned_item in owned_items%}
            {% include 'includes/owned_items_modals.html' %}
                <div class=" bg-gray-300 rounded shadow">
                    <div class="card text-center ">
                        <div class="">
                            <h5 class="text-lg font-semibold p-2 ">{{ owned_item.name }}</h5>
                            <button type="button" class="border-2 border-red-600 text-red-600 rounded-xl px-2 py-0.5 font-semibold hover:bg-red-700 hover:border-red-700 hover:text-white hover:shadow-xl  shadow text-lg duration-100" id="sellBtn-{{ owned_item.id }}">
                                Sell
                            </button>
                            <br>
                            <p class=" p-2"><strong>
                               Cost: {{ owned_item.price }}$
                            </strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}